.side-bar {
  background-color: var(--side-bar-bg-color);
  max-width: 20rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 2rem 1.5rem;
  gap: 3rem;
}

/* Change the gap between title and content of feature*/
.feature-container {
  display: flex;
  flex-direction: column;
  gap: 0rem;
}

/* Change the gap between elements of feature*/
.feature-content {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 0.5rem;
}

.systemprompt-input {
  padding: 1rem 1rem;
  border: none;
  border-radius: 1rem;
  min-height: 7rem;
  background-color: var(--side-bar-container-color);
  resize: none;
  font-family: inherit;
  font-size: 1rem;
}

.systemprompt-input:focus {
  outline: none;
}

.button-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: flex-start; /* Ensures children align to their content width */
}

.side-bar-button {
  background-color: var(--blue);
  border: none;
  border-radius: 1rem;
  padding: 0.5rem 1rem; /* Adds space around the text */
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
  width: auto; /* Makes the width fit the text */
  display: inline-block; /* Ensures the button fits the content width */
  text-align: center; /* Centers the text inside the button */
  box-sizing: border-box; /* Ensures padding and border are included in the width */
}

.side-bar-button.disabled {
  background-color: grey;
}
