.side-bar {
  background-color: var(--side-bar-bg-color);
  max-width: 20rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 2rem 1.5rem;
}

.history {
  list-style: none;
  margin-top: 2rem;
}

.history li {
  margin-bottom: 1rem;
  cursor: pointer;
}
