.side-bar {
  background-color: var(--side-bar-bg-color);
  max-width: 20rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 2rem 1.5rem;
}

.feature-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.systemprompt-input {
  padding: 1rem 1rem;
  border: none;
  border-radius: 1rem;
  min-height: 7rem;
  background-color: var(--side-bar-container-color);
  resize: none;
  font-family: inherit;
  font-size: 1rem;
}

.systemprompt-input:focus {
  outline: none;
}

.side-bar-button {
  background-color: var(--blue);
  border: none;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
  width: 30%;
}

.side-bar-button.disabled {
  background-color: grey;
}
